node_modules/
uploads/project/*
uploads/folders/*
uploads/items/*
!uploads/project/.gitkeep
!uploads/folders/.gitkeep
!uploads/items/.gitkeep
data/db.json
data/MIGRATION_CREDENTIALS.txt
*.log
.DS_Store
